<section class="grid padded banner-contact border">
    <div class="col-12 txtcenter">
        <h1>Enquire Now</h1>
    </div>
    <!-- form -->
    <div class="col-12 padded"> 
      <form class="grid-center" action="https://formspree.io/f/xyyapkqa" method="POST">
          <div class="col-12 padded-05">
            <input type="text" name="name" placeholder="Your Name">
          </div>
          <div class="col-12 padded-05">
            <input type="email" name="_replyto" placeholder="Your Email">
          </div>
          <div class="col-12 padded-05">
            <textarea placeholder="Tell us about yourself and describe your dream website"></textarea>
          </div>
          <div class="col-12 padded-05">
              <input type="submit" value="Send" class="button-2">
            </div>
      </form>
  </div>
</section>