<section class="grid light-bg">
    <!-- form -->
    <div class="col-5 background-contact"></div>
    <div class="col-7 padded txtcenter"> 
      <div class="padded-13 border">
        <h1>Get in <i>touch</i> with us</h1>
        <p>We love it when people get in touch with us to talk about a new project idea, a query or even just to tell us about the cute puppy they saw that morning... </p>
        <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-pinterest"></i>
        <br>
        <br>
        <br>
        <p>Or if you're ready to get the ball rolling with a brand new website, please fill out our contact form. We cannot wait to hear what's in store!</p>
        <a href="" class="button"> Fill out an enquiry form</a>
      </div>   
  </div>
</section>