
<footer class="grid grey-bg">
    <img src="images/page-border.png" alt="">
    <div class="col-6-middle padded-2">
       <img src="images/vslogo-footer.png" alt="">
    </div>
    <div class="col-2-middle txtcenter whitetxt">
        <nav>
            <p>CONNECT</p>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Pinterest</a></li>
        </nav>
    </div>
    <div class="col-2-middle txtcenter whitetxt">
        <nav>
            <p>SERVICES</p>
            <li><a href="process.html">Process</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="">FAQ</a></li>
        </nav>
    </div>
    <div class="col-2-middle txtcenter whitetxt">
        <nav>
            <p>INFO</p>
            <li><a href="about.html">About Us</a></li>
            <li><a href="process.html#giving-back">Giving Back</a></li>
            <li><a href="">Cookies + GDPR</a></li>
        </nav>
    </div>
</footer>