
<footer class="grid grey-bg">
    <img src="images/page-border.png" alt="">
    <div class="col-6_sm-3-middle padded-2">
       <img src="images/vslogo-footer.png" alt="">
    </div>
    <div class="col-2_sm-3-middle txtcenter whitetxt">
        <nav>
            <p>CONNECT</p>
            <li><a href="https://www.instagram.com/verdistudio_/">Instagram</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100091813225171">Facebook</a></li>
            <li><a href="https://www.pinterest.co.uk/verdistudio_/">Pinterest</a></li>
        </nav>
    </div>
    <div class="col-2_sm-3-middle txtcenter whitetxt">
        <nav>
            <p>SERVICES</p>
            <li><a href="process.html">Process</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="faq.html">FAQ</a></li>
        </nav>
    </div>
    <div class="col-2_sm-3-middle txtcenter whitetxt">
        <nav>
            <p>INFO</p>
            <li><a href="about.html">About Us</a></li>
            <li><a href="process.html#giving-back">Giving Back</a></li>
            <li><a href="cookies.html">Cookies + GDPR</a></li>
        </nav>
    </div>
</footer>